/* * Fonts import */
/* https://fonts.google.com */
/* https://webfonts.pro */
/* https://transfonter.org (ttf to woff, woff2) */

/*  &display=swap */
/*  for cyrillic:    &subset=cyrillic-ex */

/* * Fonts local import */

/* * Reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px; /* default size: 16px */
}
body {
  line-height: 1; /* default: 1*/
  /* font-family */
  font-size: 25px;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 50px;
}
/* --------------- */

.block {
  padding: 30px;
  background-color: #7a956b;
  display: inline-block;
}
.link {
  color: yellow;
  transition: color 0.4s ease;
  /* visibility: hidden; */
  /* opacity: 0; */
}

/* Псевдоклас стану */

.block:hover .link {
  visibility: visible;
  opacity: 1;
}

/* :visited 
Срабатывает для посещенных ссылок  */
.link:visited {
  color: white;
}
/*
Замечание: Из-за причин приватности, 
браузеры строго ограничивают стили, которые вы 
можете применить к элементу, используя этот псевдо-класс:
только color, background-color, border-color,
border-bottom-color, border-left-color, border-right-color,
border-top-color, outline-color, column-rule-color, 
fill и stroke. Заметьте также, что альфа-канал будет 
игнорироваться: будет использоваться альфа-канал, 
используемый для непосещённых ссылок вместо него 
(но если прозрачность - 0, то в этот случае 
игнорируется весь цвет, и один из используемых 
стилей для непосещённых ссылок).
*/

/* 
:hover
Срабатывает при наведении на элемент, 
часто применяется применяется как для ссылок так
и для любого другого элемента.
*/
.link:hover {
  color: darkred;
}

/*
:focus
Срабатывает при получении элементом фокуса. 
Часто применяется к елементам форм. Например инпутам.
*/
.link:focus {
  outline: 1px solid #000;
}

/*
:active
Срабатывает при нажатии на элемент. 
В основном применяется к ссылкам и кнопкам.
*/
.link:active {
  color: #000;
}

.button {
  display: inline-block;
  border-radius: 5px;
  padding: 20px 30px;
  color: #fff;
  box-shadow: 0px 8px 0px 0px rgb(108, 143, 37);
  background-color: yellowgreen;
}
.button:hover {
  background-color: rgb(131, 173, 48);
}
.button:active {
  margin: 0px 0px -4px 0px;
  box-shadow: 0px 4px 0px 0px rgb(108, 143, 37);
}

/*
:target
Срабатывает когда элемент является объектом 
на который ссылаются
*/
/* .window {
  padding: 20px;
  color: #fff;
  display: none;
  background-color: #77608d;
}

.window:target {
  display: block;
} */

/* Псевдоклассы положения в коде */
.text {
  margin: 0px 0px 30px 0px;
}
.text p {
  /* margin: 0px 0px 20px 0px; */
}
.list li {
  margin: 0px 0px 20px 0px;
}

/*
:first-child 
Перша дитина з тегом або селектором
Обращение к первому элементу в блоке по селектору або тегу
*/
.block .text:first-child {
  background-color: #77608d;
}

/* .text p:first-child {
  color: red;
} */
.content .text:first-child {
  /* opacity: 0; */
}
/* 
Первый в блоке тег P, даже если выше 
него есть другие теги 
*/

/* .text p:first-of-type {
  border: 2px solid #000;
} */

/* .text p:last-of-type {
  border: 9px solid #000;
} */

/* .list li:first-child {
  font-size: 20px;
}
.content .text:first-of-type {
  box-shadow: 0px 0px 10px 1px #000;
} */

/*
:last-child
Обращение к последнему элементу в блоке
*/

/* .text p:last-child {
  color: red;
} */

/* Последний в блоке тег P, 
если ниже него ничего нет  */

/* .text p:last-of-type {
  color: red;
} */

/* Любой оъект который первый внутри родителя */

/* .text *:last-child {
	color: blueviolet;
} */

/* Забрати останнній відступ. Спосіб 1 */

/* .text *:last-child {
  margin-bottom: 0;
} */

/*
:nth-child(порядковый номер элемента)
Обращение к конкретным элементам в блоке
*/

/* odd - нечетные */
/* even - четные */

.text p:nth-child(odd) {
  background-color: red;
}

/* Забрати останнній відступ. Спосіб 2 */
.text *:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

/* ---------------------- */
/*
Псевдоэлемент ::first-line задает стиль первой 
строки форматированного текста. 
Длина этой строки зависит от многих факторов, 
таких как используемый шрифт, 
размер окна браузера, ширина блока, языка и т.д. 
В правилах стиля допустимо 
использовать только свойства, относящиеся к шрифту, 
изменению цвета текста и фона.
*/

.content {
  margin: 0px 0px 30px 0px;
}
.content::first-line {
  /* color: red; */
}
.content {
  /* text-indent: 30px; */
}
.content::first-letter {
  /* color: red;
  font-size: 40px; */
}

.title {
  margin: 0px 0px 40px 0px;
  font-size: 40px;
  font-weight: 900;
  display: inline-block;
}

/*
::before, ::after - СТРОЧНЫЕ !!!!
использование content ОБЯЗАТЕЛЬНО! 
*/

.title::after {
  /*? important  */
  content: '';
  display: block;

  background-color: green;
  height: 2px;
  width: 50%;
  margin: 15px 0px 0px 0px;
}

.content::before {
  content: '"';
}
.content::after {
  content: '"';
}

.list li::before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: top;
  background-color: red;
  margin: 7px 15px 0px 0px;
  border-radius: 50%;
}

.num-list li:not(:last-child) {
  margin-bottom: 20px;
}

.list li:hover::before {
  background-color: blue;
}

.num-list {
  counter-reset: item;
}
.num-list li {
  position: relative;
  margin-left: 20px;
}
.num-list li::first-letter {
  color: #77608d;
  font-size: 30px;
}
.num-list li::before {
  counter-increment: item;
  content: counter(item) ')';
  display: inline-block;
  vertical-align: top;
  color: red;

  position: absolute;
  left: -30px;
  top: 12%;
}