/* * Fonts import */
/* https://fonts.google.com */
/* https://webfonts.pro */
/* https://transfonter.org (ttf to woff, woff2) */

/*  &display=swap */
/*  for cyrillic:    &subset=cyrillic-ex */

/* * Fonts local import */
@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/HelveticaNeueCyr-Black.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* * Icons Fonts */
/* https://www.iconfinder.com/ */
/* https://icomoon.io */

/* * Reset styles */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 14px; /* default size: 16px*/
}
body {
	line-height: 1; /* default: 1*/
	background-color: #191919;
	font-family: 'Helvetica';
	font-weight: 400;
	/* color */
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

[class*='__container'] {
	max-width: 1110px;
	margin: 0px auto;
}

/* ---------------------------------- */

.section-header {
	padding: 60px 0px 30px 0px;
}
.section-header__content {
	position: relative;
}
.section-header__decor-title {
	font-weight: 900;
	font-size: 100px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.2em;
	color: #303030;
	text-transform: uppercase;
}
.section-header__title {
	position: absolute;
	width: 100%;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
	font-size: 36px;
	line-height: 2.5;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: capitalize;
	color: #d9d9d9;
	white-space: nowrap;
}

/* ---------------------------------- */
