/* * Fonts import */
/* https://fonts.google.com */
/* https://webfonts.pro */
/* https://transfonter.org (ttf to woff, woff2) */

/*  &display=swap */
/*  for cyrillic:    &subset=cyrillic-ex */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Mukta:wght@400;500;700&display=swap&subset=cyrillic-ex');

/* * Fonts local import */

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Regular.woff2') format('woff2'),
    url('../fonts/Heebo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Bold.woff2') format('woff2'),
    url('../fonts/Heebo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Medium.woff2') format('woff2'),
    url('../fonts/Heebo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* * Reset styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  background-color: unset;
}

textarea:focus,
input:focus {
  outline: none;
}

img {
  vertical-align: top;
}

html {
  font-size: 14px;
  /* default size */
}

body {
  font-family: 'Lora', 'Mukta', 'Heebo', serif;
  line-height: 1;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
}

/* * -------------- */

.fz14 {
  font-size: 14px;
}
.fz22 {
  font-size: 22px;
}
.fz42 {
  font-size: 42px;
}
.fz45 {
  font-size: 45px;
}

body {
  background-color: #f5efeb;
}

header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #000000;
}

.headercontainer {
  margin: 0 auto;
  max-width: 1182px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerinfo {
  display: flex;
  align-items: center;
}

.headerlogo {
  width: 170px;
  padding: 3px 10px;
}

/* .logo {}

.logosmall {} */

.headerlist.list {
  flex-direction: row;

  height: auto;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.listlink,
.functionalbtn {
  line-height: 200%;
  color: inherit;
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
}
.listitem,
.functionalbtn {
  color: #fff;
  padding: 3px 8px;
}
.listitem {
  border-right: 0.5px solid #898989;
}

.listitem.listitemfirst {
  background-color: #898989;
  border-right: unset;
}
.listitem:hover,
.functionalbtn:hover,
.advertisementbtn:hover {
  background-color: #fff;
  color: #000;
}

.headerfunctional {
  display: flex;
  align-items: center;
  justify-content: center;
}

.functionalbtn {
  cursor: pointer;
  border-right: unset;
}
.functionalbtn:first-child {
  border-left: 0.5px solid #898989;
}

.btnblue {
  background-color: #006699;
}
.btnbig {
  font-size: 16px;
  padding: 8px 40px;
}

.functionalsearch {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  text-align: left;
  line-height: 200%;
  font-weight: 400;
  font-style: normal;
  padding: 3px 4px;
  font-size: 14px;
}
main {
  padding-top: 34px;
}
.container {
  margin: 0 auto;
  max-width: 1182px;
  background-color: #fff;
}
.banner,
.advertisement {
  padding: 20px;
}
.banner > img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}
.banner .bannertext {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 110%;
  text-align: center;
  word-spacing: 4px;
  font-family: 'Heebo', serif;
  font-size: 10px;

  margin-top: 12px;
}
.advertisement {
  background-color: #000;
  color: #fff;
  font-family: 'Mukta', sans-serif;
  text-align: center;
}

.advertisement > p {
  margin-top: 20px;
}
.advertisement a {
  color: #fff;
}
.advertisementtitle {
  font-weight: 700;
  text-shadow: 3px 4px 5px #8c9900;
}
.advertisementdescription {
  font-style: oblique;
  font-weight: 400;
  text-decoration: unset;
}
.advertisementbtn {
  display: inline-block;
}
.link {
  margin-top: 10px;
  text-decoration: underline;
  line-height: inherit;
}

.sectionnews {
  background-color: #fff;
  padding: 15px 8px;
  font-family: 'Lora', sans-serif;
}

.sectionnewsheader {
  display: flex;
  align-items: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 0.5px solid #898989;
  padding: 8px;
  padding-top: unset;
  padding-bottom: unset;
  margin-bottom: 8px;
}
.card:last-child {
  border-right: unset;
}
.card.cardbig {
  flex-direction: row;
  align-items: flex-start;
  width: 80%;
  min-height: 400px;
}

.card.cardbig .cardinfowrapper {
  width: 50%;
  padding-right: 1%;
}
.card.cardbig > .cardimagewrapper {
  width: 50%;
  height: inherit;
  /* display: flex;
  align-items: flex-start;
  justify-content: start; */
}
.card.cardbig .cardimagewrapper > img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.cardbig .cardtitlelink {
  color: #000;
  font-weight: 700;
  font-style: normal;
  word-spacing: 2px;
  text-align: right;
  line-height: 110%;
}
.cardbig .cardtitle {
  margin-top: unset;
}
.cardstatus {
  color: #000;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Lora', serif;
  font-size: 10px;

  margin: 8px 0;
  padding-left: 12px;

  position: relative;
}
.cardstatus::before {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #000;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.cardstatusblue {
  color: #006699;
}
.cardstatusblue::before {
  background-color: #006699;
}
.cardstatusred {
  color: #992b00;
}
.cardstatusred::before {
  background-color: #992b00;
}

.cardtheme {
  color: #006699;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;

  margin-top: 8px;
}

.carddescription {
  color: #696969;
  text-align: left;
  line-height: 120%;
  /* text-indent: 10px; */
  margin: 8px 0;
}
.cardlinkslist {
  padding-left: 14px;
}
li.cardlinkslistitem {
  list-style-type: square;
}
li.cardlinkslistitem > a {
  color: #000;
  font-style: normal;
  text-decoration: underline;
}
li.cardlinkslistitem > a:hover {
  text-decoration: unset;
}
.cardsmall {
  width: 20%;
}
.cardsmall > img {
  max-width: 100%;
}

.cardtitle {
  margin-top: 6px;
}
.cardtitlelink {
  font-weight: 700;
  font-style: normal;
  text-align: left;
  color: #000;
}

.sectionnewsmain {
  margin-top: 8px;
}
.card {
  width: 25%;
}
.sectionborderbottom {
  border-bottom: 0.5px solid #898989;
}

.card > img {
  max-width: 100%;
  width: 100%;
  max-height: 152px;
  height: 100%;
}
.sectionworldnewsmain {
  display: flex;
}

.sectionnewsbtn {
  border: 1px solid #000;
  padding: 12px 20px;
  font-size: 16px;
  word-spacing: 3px;
  line-height: 130%;
  width: 20%;
  margin: 25px auto;
  display: block;
  cursor: pointer;
  text-shadow: 2px 1px 3px #006699;
}

.sectiontitle {
  text-transform: capitalize;
  font-weight: 500;
  font-family: 'Heebo', serif;
  text-align: left;
  padding: 6px 12px;
}
.sectionworldnewstitle {
  background-color: rgb(66, 118, 27);
  color: #fff;
}
.section {
  padding: 15px 8px;
  display: flex;
  justify-content: center;
}
.sectionworldnews .card.cardbig {
  display: inline-block;
}
.sectionworldnews .card.cardbig .cardinfowrapper {
  width: unset;
}

.totop {
  padding: 0px 20px;

  display: block;
  background-color: #898989;
  font-size: 15px;
  font-style: oblique;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.totop a {
  color: #fff;
  line-height: 270%;
  display: block;
}

.totop .container,
.footer .container {
  background-color: unset;
}

.footer {
  background-color: #1a1f24;
  padding: 15px 20px;
}
.footer .container > div {
  padding: 0 10px;
}
.footer .footerlogo {
  width: 200px;
  margin: 15px 0;
}
.footer .footerlogo img {
  width: 100%;
}
.footer .footermain {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footertitle {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  line-height: 200%;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;

  margin: 14px 0;
}
.footerwrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 40px;
}
.footerlist {
  margin-right: 40px;
}
.footerlist:last-child {
  margin-right: unset;
}
.footerlist a {
  color: #fff;
}

.footerlistitem {
  padding: 4px 2px;
  margin: 10px 0;
}
.footerlistitem:first-child {
  margin-top: 0;
}
.footerlistitem:last-child {
  margin-bottom: 0;
}

.footerfooter {
  border-top: 1px solid #fff;
  min-height: 80px;
}

.footerfooterinfo {
  margin-top: 10px;

  color: #fff;
  font-style: oblique;
  font-size: 11px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

footer.footer .footerfooter ul.footerfooterlinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 10px;
}
footer.footer .footerfooter ul.footerfooterlinks li.footerfooteritems a {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
}

p {
  text-shadow: 1px 1px 2px #efa574;
}
