/* * Fonts import */
/* https://fonts.google.com */
/* https://webfonts.pro */
/* https://transfonter.org (ttf to woff, woff2) */

/*  &display=swap */
/*  for cyrillic:    &subset=cyrillic-ex */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
/* * Fonts local import */

/* * Icons Fonts */
/* https://www.iconfinder.com/ */
/* https://icomoon.io */

/* * Reset styles */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* default size: 16px*/
}
body {
	overflow-x: hidden; /* for 	position: sticky */
	background-color: #f5f5f5;
	font-family: "Roboto";
	color: var(--main-color);
	line-height: 24px;
	font-size: 16px;
	font-weight: 900;
}
.wrapper {
	min-height: 100%;
	position: relative;
}

[class*="__container"] {
	max-width: 1020px;
	padding: 0px 15px;
	margin: 0px auto;
}
/* ---------------------------------- */
:root {
	--main-color: #02133c;
	--second-color: #fff;
	--third-color: #c40b0b;
	--main-title-size-36: 36px;
	--main-title-line-height-42: 42px;
	--second-title-size-19: 19px;
	--second-title-line-height-26: 26px;
}

main.main {
	padding: 200px 0px 0px 0px;
}

/* ---------------------------------- */
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #2f2f35;
	z-index: 1000;
}
.header__upper {
	padding: 26px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 40px;
}
/* ---------------------------------- */

.logo-header {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo-header__img {
	width: 40px;
	height: 40px;
	margin: 0px 10px 0px 0px;
}
.logo-header__img img {
	max-width: 100%;
	object-fit: contain;
}
.logo-header__title {
	color: var(--second-color);
	font-size: 20px;
}
/* ---------------------------------- */

.header__utility {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__utility .header__info-block:not(:last-child) {
	margin-right: 30px;
}
/* ---------------------------------- */
.info-block {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.info-block__img {
	margin: 0px 10px 0px 0px;
	/* height: 25px; */
	/* width: 25px; */
	flex: 0 1 25px;
}
.info-block__img img {
	max-width: 100%;
}
.info-block__content {
	color: var(--second-color);
	text-align: left;
	font-weight: 700;
}
.info-block__info {
	font-size: 12px;
	line-height: 22px;
}
.info-block__title {
	text-transform: uppercase;
}
/* ---------------------------------- */
.btn {
	display: inline-block;
	padding: 12px 50px 12px 15px;
	background-color: var(--third-color);
	cursor: pointer;
	position: relative;
}
.btn > span {
	position: relative;
	z-index: 2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.15px;
	font-size: 16px;
	color: var(--second-color);
}
.btn::before {
	content: "";
	position: absolute;
	width: 43px;
	height: 100%;
	right: 0;
	top: 0;
	background-color: #e30b0b;
	clip-path: polygon(41% 0, 100% 0, 100% 100%, 0% 100%);
	/* opacity: 0.8; */
}
.btn::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 10px;
	width: 20px;
	height: 20px;
	transition: transform 0.3s ease 0s;
	transform: translate3d(0px, -50%, 0px);
	background: url("../img/common/btn.svg") 50% 50% / cover no-repeat;
}
.btn:hover::after {
	transform: translate3d(5px, -50%, 0px);
}
/* ---------------------------------- */
.menu__body {
	background-color: var(--second-color);
	padding: 10px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 0px 26px 0px;
}
.menu__list {
	flex: 0 1 556px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 40px 0px 0px;
	row-gap: 10px;
	flex-wrap: wrap;
}
.menu__item {
	position: relative;
	transition: background 0.3s ease 0s;
}
/* .menu__item:not(:last-child) {
	margin-right: 30px;
} */
.menu__item:hover,
.menu__utility > *:hover {
	background: rgba(2, 19, 60, 0.1);
}
.menu__item:hover .menu__link.menu__link_has_dropmenu::after {
	transform: rotate(360deg);
}

.menu__link {
	padding: 8px 4px;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 0.15px;
	color: var(--main-color);
	display: inline-block;
	height: 100%;
	min-width: 60px;
}
.menu__link {
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu__link.menu__link_has_dropmenu::after {
	content: "";
	background: url("../img/header/03.svg") center center / contain no-repeat;
	width: 16px;
	height: 16px;
	margin: 0px 0px 0px 4px;
	transition: transform 0.4s ease 0s;
}

.menu__utility {
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu__utility > * {
	background-color: unset;
	cursor: pointer;
	height: 100%;
	padding: 4px;
	transition: background 0.3s ease 0s;
}
.menu__utility > *:not(:last-child) {
	margin-right: 22px;
}
.cart-menu {
	position: relative;
}
.cart-menu__counter {
	content: "";
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	z-index: 10;
	transform: translate3d(20%, -20%, 0px);
	width: 16px;
	height: 16px;
	border-radius: 50%;
	font-weight: 500;
	font-size: 10px;
	color: var(--second-color);
	line-height: 16px;
	letter-spacing: 0.15px;
	text-align: center;
	background-color: var(--third-color);
}

/* ---------------------------------- */

.ourimpact {
	margin: 200px 0px 0px 0px;
	padding: 0px 0px 212px 0px;
	background: #29c3be url("../img/ourimpact/bg.png") 85% 0 no-repeat;
}
.ourimpact__container {
}
.ourimpact__header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin: 0px 0px 80px 0px;
	column-gap: 40px;
}
.ourimpact__content {
	flex: 1 1 411px;
	margin: 112px 0px 0px 0px;
}
.ourimpact__tag {
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: var(--second-color);
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	position: relative;
	padding: 0px 0px 0px 32px;
	margin: 0px 0px 32px 0px;
}
.ourimpact__tag::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	display: inline-block;
	top: 50%;
	left: 0;
	transform: translate3d(0%, -50%, 0px);
	background: url("../img/common/mark.svg") center center no-repeat;
}
.ourimpact__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: var(--second-color);
}
.ourimpact__img {
	margin: -80px 0px 0px 0px;
	flex: 0 1 500px;
}
.ourimpact__img img {
	max-width: 100%;
	border-radius: 40px;
}

.ourimpact__info-blocks {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
}
.ourimpact__info-block {
	display: flex;
	align-items: center;
	justify-content: center;
}
.info-block-ourimpact__img {
	margin: 0px 10px 0px 0px;
	flex: 0 1 76px;
}
.info-block-ourimpact__img img {
	max-width: 100%;
}

.info-block-ourimpact__content {
}
.info-block-ourimpact__counter {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: var(--second-color);
	margin: 0px 0px 4px 0px;
}
.info-block-ourimpact__subtitle {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #5d62b5;
}
