/* * Fonts import */
/* https://fonts.google.com */
/* https://webfonts.pro */
/* https://transfonter.org (ttf to woff, woff2) */

/*  &display=swap */
/*  for cyrillic:    &subset=cyrillic-ex */

/* * Fonts local import */

/* * Icons Fonts */
/* https://www.iconfinder.com/ */
/* https://icomoon.io */

/* * Reset styles */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* default size: 16px*/
}
body {
	overflow-x: hidden; /* for 	position: sticky */
	line-height: 1; /* default: 1*/
	/* font-family */
	/* color */
	/* font-size */
	background: #484848;
}
.wrapper {
	min-height: 100%;
}

[class*="__container"] {
	max-width: 1000px;
	margin: 0px auto;
	padding: 80px;
}

/* ---------------------------------- */
/* 
.practice {
	background: darkslateblue;
} */
.practice__container {
	perspective: 600px;
}
.card-practice {
	background: #fff;
	border-radius: 10px;
	max-width: 200px;
	transform: translate(5%) rotateY(10deg) skew(3deg);
	transition: all 0.8s linear;
	position: relative;
	z-index: 2;
}
.card-practice:hover {
	transform: rotateY(5deg) skew(0deg) translate(0%);
}
.card-practice__wrapper {
	padding: 10px 20px;
	overflow: hidden;
}
.card-practice__wrapper > * {
	min-width: 100%;
}
.card-practice__wrapper > *:not(:last-child) {
	margin-bottom: 60px;
}
.card-practice__title {
	font-size: 46px;
	font-weight: 700;
	line-height: 1.4;
	text-align: center;
}
.card-practice__text {
	font-size: 26px;
	font-weight: 500;
	text-align: left;
	line-height: 1;
}
.card-practice__link {
	color: darkcyan;
	font-size: 25px;
	text-decoration: underline;
	line-height: 1;
	display: inline-block;
	text-align: left;
}

/* ---------------------------------- */
.star {
	perspective: 300px;
	perspective-origin: top center;
	padding: 50px;
}
.star__text {
	transform: rotateX(20deg);
	transition: all 0.8s linear;
}

.star__text:hover {
	transform: rotateX(10deg) translateX(0px);
}

/* ---------------------------------- */

/* .car {
	width: 800px;
	height: 500px;
	margin: 0px auto;
	perspective: 600px;
}
.car__front,
.car__right-site {
	display: inline-block;
	background: darkgoldenrod;
	width: 300px;
	height: 80px;
	position: relative;
	padding: 20px;
	border-radius: 10px;
	border-bottom: 3px solid #000;
	transform: rotateY(-10deg) rotateX(-6deg);
}
.car__front::before,
.car__front::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	transform: translate(0, -50%);
	left: 20px;
	background: darkred;
	border-radius: 50%;
}
.car__front::after {
	right: 20px;
	left: unset;
	transform-origin: left top;
}

.car__right-site {
	transform: rotateY(20deg) rotate(-8deg) translate(-10px, -20px) skew(-5deg);
} */

/* ---------------------------------- */
:root {
	--main-color: rgb(135, 16, 16);
}
.car {
	display: block;
	margin: 0px auto;
	width: 1100px;
	position: relative;
}
.car__shape {
	position: relative;
	display: inline-block;
}
.car__shape::before {
	content: "";
	/* position: absolute;
	top: 0;
	left: 0; */
	display: block;
	border-bottom: 150px solid var(--main-color);
	border-left: 200px solid transparent;
	border-right: 340px solid transparent;
	width: 800px;
	margin: 0px 0px -1px 0px;
	/* margin-left: auto; */
	/* transform: translate(50%,0px); */
}
.car__shape::after {
	content: "";
	display: block;
	width: 800px;
	height: 200px;
	/* margin-left: auto; */
	background: var(--main-color);
	border-bottom-right-radius: 12%;
}
.car__front {
	display: inline-block;
	width: 300px;
	height: 200px;
	border-radius: 61% 23% 0% 20% / 37% 0% 0% 16%;
	background: var(--main-color);
	margin: 0px -10px 0px 0px;
}
.car-body {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.car-body__door {
	position: absolute;
	height: 90%;
	width: 250px;
	border: 2px solid #000;
	left: 50%;
	top: 10px;
	padding: 5px 10px;
	border-radius: 10px;
	transform: translate(-32%, 0px) skew(-10deg, 0deg);
}
.car-body__door::before {
	content: "";
	/* position: relative; */
	display: inline-block;
	width: 100%;
	height: 40%;
	margin: 0px 0px 20px 0px;
	border-radius: 4px;

	background-color: rgba(255, 255, 255, 0.421);
}
.car-body__opener {
	transform-origin: left top;
	width: 45px;
	height: 5px;
	background: #000;
	display: block;
	margin-left: auto;
	transition: transform 0.2s ease-in-out;
}
.car-body__door:hover .car-body__opener {
	transform: rotate(15deg);
}

.car-body__bottom {
	width: 100%;
	height: 40%;
	position: absolute;
	bottom: 4px;
	overflow: hidden;
}
.car-body__bottom::before,
.car-body__bottom::after {
	content: "";
	position: absolute;
	width: 220px;
	height: 220px;
	top: 0;
	left: 10%;
	transform: translate3d(0px, 30%, 0px);
	background-color: #000;
	border-radius: 50%;
}
.car-body__bottom::after {
	left: unset;
	right: 10%;
}
.car-body__wheel {
	position: absolute;
	bottom: 0;
	height: 75px;
	width: 100%;
}

.car-body__wheel::before,
.car-body__wheel::after {
	content: "";
	position: absolute;
	width: 180px;
	height: 180px;
	top: 0;
	left: 12%;
	transform: translate3d(0px, 12px, 0px);
	background: #3a3434;
	border-radius: 50%;
}
.car-body__wheel::after {
	left: unset;
	right: 12%;
}
