/* * Fonts import */
/* https://fonts.google.com */
/* https://webfonts.pro */
/* https://transfonter.org (ttf to woff, woff2) */

/*  &display=swap */
/*  for cyrillic:    &subset=cyrillic-ex */

/* * Fonts local import */

/* * Reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px; /* default size: 16px */
}
body {
  line-height: 1; /* default: 1*/
  /* font-family */
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 50px;
}
/* --------------- */
.block {
  font-size: 30px;
  padding: 30px;
  color: #fff;
  /* Фон блока  */
  /* background-color: #ffc681; */

  /* Устанавливает фоновое изображение 
	для элемента либо задает градиентную заливку  
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  */
  /* background-image: url('../img/mac-os.png'); */

  /* Определяет, как будет повторяться фоновое изображение */
  /* background-repeat: no-repeat; */

  /* Задает начальное положение фонового изображения, где первое значение 
	(проценты, px, слово) определяет расположение 
	по горизонтали, второе - вертикали. */
  /* background-position: 0 0; */

  /* Масштабирует фоновое изображение согласно заданным размерам. 
	В цифрах, где первое значение (проценты, px) определяет ширину, 
	второе - высоту. Либо специальным значением. */
  /* background-size: auto auto; */

  /* Устанавливает, будет ли прокручиваться фоновое изображение вместе с содержимым элемента. */
  /* background-attachment:fixed; */

  /* Універсальне свойство */
  /* background: bgcolor bgimage bgposition bgsize bgattachment; */
  /* background: #ffc681 url('../img/mac-os.png') 50% / cover no-repeat fixed; */
  background: url('../img/mac-os.png') no-repeat,
    #ffc681 url('../img/roman-raizen-28Mhs01R8r8-unsplash.jpeg') 50% / cover
      no-repeat;
}

ul li {
  margin: 0px 0px 20px 0px;
  font-size: 12px;
  /* min-height: 27px; */
  background: url('../img/mac-os.png') 0 1px / 10px no-repeat;
  padding: 0px 0px 0px 20px;
}
