/* * Fonts import */
/* https://fonts.google.com */
/* https://webfonts.pro */
/* https://transfonter.org (ttf to woff, woff2) */

/*  &display=swap */
/*  for cyrillic:    &subset=cyrillic-ex */

/* * Fonts local import */

/* * Icons Fonts */
/* https://www.iconfinder.com/ */
/* https://icomoon.io */

/* * Reset styles */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* default size: 16px*/
}
body {
	overflow-x: hidden; /* for 	position: sticky */
	line-height: 1; /* default: 1*/
	/* font-family */
	/* color */
	/* font-size */
	background: rgb(32, 32, 32);
}
.wrapper {
	min-height: 100%;
	padding: 50px;
}

[class*="__container"] {
	/* max-width: 1200px; */
	margin: 0px auto;
}
/* ---------------------------------- */
/** transition */
/*
CSS переходи або CSS transitions можуть застосовуватись до всіх елементів і навіть до псевдоелементів.
Використовуються для пожвавлення нашої верстки. Що в свою чергу призводить до покращення взаємодії з 
користувачем, зазвичай шляхом приємної анімованої реакції на його дії.
Наприклад, наведення та натискання на кнопку. Також властивості transition можна використовувати 
для побудови нескладних сценаріїв анімації. Фактично, CSS переходи забезпечують зміну значень 
інших властивостей з певною анімацією та сценарієм. Всю цю магію можна описати універсальним СЅЅ властивістю 
transition, або рядом наступних окремих властивостей:
*/
.link {
	color: yellow;
	font-size: 14px;

	transition-duration: 0s;
}
/*! Put real class  */
.link_transition {
	/*
	? transition-duration:
	Визначає проміжок часу, протягом якого має здійснюватись перехід. 
	Власне - тут ми вказуємо час за яке одне значення якості переходить (анімується) в інше.
	Властивість не успадковується.
	*/
	transition-duration: 0.2s, 0.5s;

	/* 
	? transition-property: 
	Містить назву CSS-властивостей, до яких буде використано ефект переходу. 
	Значення властивості може містити як одну властивість, так і список властивостей через кому.
	Властивість не успадковується.
	*/
	transition-property: color, font-size;

	/*
	? transition-delay
	Затримка виконання переходу. Дозволяє зробити так, щоб зміна якості відбувалася нe
	миттєво, а з деякою затримкою. Час затримки переходу вказується 
	у секундах або мілісекундах. 
	Властивість не успадковується. 
	*/
	transition-delay: 0s, 0.5s;

	/*
	? transition-timing-function
	Задає стиль нашого переходу, тобто якийсь сценарій, за яким здійсняться анімація.
	
	steps(4, start/end)
	*/
	transition-timing-function: ease, ease;

	/** Universal */
	transition: all 0.3s ease 0s;
}

.link:hover {
	color: red;
	font-size: 20px;
}

/* .button {
	display: inline-block;
	color: #fff;
	background-color: green;
	border-radius: 10px;
	padding: 10px 15px;
	box-shadow: 0px 5px 1px 0px #000;
	transition: all 0.3s ease 0s;
}
.button:hover {
	box-shadow: 0px 2px 1px 0px #000;
	transform: translate3d(0px, 4px, 0px);
} */

.menu {
	overflow: hidden;
	padding: 10px;
}
.menu:hover .menu__list,
.menu:hover .menu__item {
	transform: translate3d(0px, 0px, 0px);
	opacity: 1;
	transition-duration: 0.6s;
}
.menu:hover .menu__list {
	transition-delay: 0s;
}

.menu__list {
	background-color: #794f45;
	padding: 15px;
	transform: translate3d(-100%, 0px, 0px);
	transition: all 0.5s ease 0s;
	opacity: 0;
	overflow: hidden;
	transition-delay: 0.8s;
}
.menu__item {
	transform: translate3d(-100%, 0px, 0px);
	transition: all 0.6s ease 0s;
}

.menu__item:nth-child(1) {
	transition-delay: 0s;
}
.menu__item:nth-child(2) {
	transition-delay: 0.2s;
}
.menu__item:nth-child(3) {
	transition-delay: 0.4s;
}
.menu__item:nth-child(4) {
	transition-delay: 0.6s;
}

.menu__item:not(:last-child) {
	margin-bottom: 20px;
}
.menu__link {
	padding: 6px 4px;
	color: #fff;
}

/* ---------------------------------- */

/* 
* animation
Як і CSS властивість плавних переходів transition, про який ми говорили в попередньому уроці, 
властивість animation покликана зробити нашу верстку динамічнішою, пожвавити її для кращої взаємодії 
з користувачем та створення WOW ефекту.

Але на відміну від CSS переходів, створення анімації базується на ключових кадрах @keyframes,
які дозволяють автоматично відтворювати та повторювати ефекти протягом заданого часу, а також зупиняти 
анімацію за певною подією.

Іншими словами, використання конструкції animation та @keyframes дозволяє нам створювати більш складні 
сценарії анімацій. 
*/

.block {
	width: 200px;
	height: 200px;
	background-color: #7a956b;
	/*
		Визначає список анімацій (ключових кадрів), що застосовуються до елемента. 
		Можна вказати через кому. Причому пріоритет останній запис.
	*/
	animation-name: somename;
	/*
		Відповідає за тривалість анімації.
	*/
	animation-duration: 1s;
}
/* .block:hover {
	animation-name: somename;

} */

@keyframes somename {
	0% {
		transform: translate3d(0px, 0px, 0px);
	}
	100% {
		transform: translate3d(100px, 0px, 0px);
	}
}
