/* * Fonts import */
/* https://fonts.google.com */
/* https://webfonts.pro */
/* https://transfonter.org (ttf to woff, woff2) */

/*  &display=swap */
/*  for cyrillic:    &subset=cyrillic-ex */

/* * Fonts local import */

/* * Icons Fonts */
/* https://www.iconfinder.com/ */
/* https://icomoon.io */

/* * Reset styles */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* default size: 16px*/
}
body {
	line-height: 1; /* default: 1*/
	background-color: #303030;
	/* font-family */
	/* color */
	/* font-size */
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.main {
	flex: 1 1 auto;
}

[class*='__container'] {
	max-width: 1200px;
	margin: 0px auto;
}

/* ---------------------------------- */
input {
	padding: 4px 6px;
}
[disabled] {
	background-color: #77608d;
}
