/* * Fonts import */
/* https://fonts.google.com */
/* https://webfonts.pro */
/* https://transfonter.org (ttf to woff, woff2) */

/*  &display=swap */
/*  for cyrillic:    &subset=cyrillic-ex */

/* * Fonts local import */

/* * Icons Fonts */
/* https://www.iconfinder.com/ */
/* https://icomoon.io */

/* * Reset styles */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* default size: 16px*/
}
body {
	overflow-x: hidden; /* for 	position: sticky */
	line-height: 1; /* default: 1*/
	/* font-family */
	/* color */
	/* font-size */
}
.wrapper {
	min-height: 100%;
}

[class*="__container"] {
	max-width: 1200px;
	margin: 0px auto;
}

/* ---------------------------------- */

.about {
	background: linear-gradient(42.43deg, #c6dbff 0%, #e1ebfa 52.25%);
}
.about__container {
	display: flex;
	justify-content: center;
	padding: 235px 0px 100px 0px;
}
.about__container > *:not(:last-child) {
	margin-right: 193px;
}
.about__image {
	position: relative;
	width: 324px;
	max-height: 420;
	perspective: 600px;
}

.about__item {
	border-radius: 16px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* animation: about-image-init 3s ease-out 0s 1 normal forwards; */
}
@keyframes about-image-init {
	0% {
		width: 0;
		height: 0;
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(20deg);
	}
	50% {
		transform: rotate(10deg);
	}
	75% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.about__item_secondary {
	width: 220px;
	max-height: 285px;
	position: absolute;
	bottom: -78px;
	right: -78px;
	/* animation: about-image-init 3s ease-out 0s 1 normal forwards; */
}
.about__content {
	max-width: 500px;
	padding: 20px;
}
.about__content > *:not(:last-child) {
	margin-bottom: 20px;
}
.section-header__tag {
	color: var(--third-color);
}

.section-header__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 48px;
	padding: 10px 20px;
	border: 3px solid transparent;
	border-radius: 10px;
	animation: title-ilumination 1s ease 0s infinite normal;
}
@keyframes title-ilumination {
	0% {
		border: 3px dashed rgb(64, 255, 0);
	}
	50% {
		border: 3px solid transparent;
		background-color: rgb(30, 33, 44, 0.1);
	}
	100% {
		border: 3px dashed rgb(64, 255, 0);
	}
}
.about__text {
	color: var(--main-color);
	padding: 0px 20px 0px 0px;
	/* transition: transform 1s ease-in-out 0s; */
	animation: some 1s ease 0s 1 normal backwards;
	font-size: 20px;
}
@keyframes some {
	0% {
		transform: translate3d(100%, 100%, 0px);
		opacity: 0;
	}
	50% {
		transform: translate3d(10px, 10px, 0px);
		opacity: 0.7;
	}
	100% {
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

/* ---------------------------------- */
.social-posts {
	background: url("../img/socialPosts/squig1.svg") 20% 50% no-repeat,
		#f5f8ff url("../img/socialPosts/squig2.svg") 80% 85% no-repeat;
}
.social-posts__container {
	padding: 100px 0px;
}
.social-posts__title {
	text-align: center;
	margin: 0px 0px 60px 0px;
	font-size: 46px;
	font-weight: 700;
	transition: background-color 0.3s linear 0s;
	background-color: #fff;
}
.social-posts__title:hover {
	background-color: rgb(209, 108, 108, 0.2);
}
.social-posts__content {
	margin: 0px auto 90px auto;

	display: flex;
}
.social-posts__content > .social-posts__card:not(:last-child) {
	margin-right: 34px;
}
.social-posts__footer {
	text-align: center;
}
@keyframes post-social {
	0% {
		top: -50px;
	}
	75% {
		top: 20px;
	}
	100% {
		top: 0;
	}
}
@keyframes post-social-upper {
	0% {
	}
	75% {
		top: -20px;
	}
	100% {
		top: 0;
	}
}
.post-social {
	display: inline-block;
	position: relative;
	top: -50px;
	animation: post-social 1.3s ease 3s 1 normal forwards;
}
.post-social_position_upper {
	top: 50px;
	animation: post-social-upper 1.3s ease 3s 1 normal forwards;
}
.post-social__wrapper {
	max-width: 312px;
	white-space: unset;
}
.post-social__img {
	width: 100%;
	position: relative;
	padding-top: 431px;
	margin: 0px 0px 30px 0px;
}
.post-social__img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.post-social__text {
	white-space: initial;
	font-size: 26px;
	line-height: 34px;
}

/* ---------------------------------- */
.benefits {
	padding: 100px 0px;
	background-color: #f5f8ff;
}
.benefits__container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
	/* animation: benefits-container-inner 1s 1 linear 0s normal forwards; */
}
@keyframes benefits-container-inner {
	0% {
		gap: 100px;
	}
	50% {
		gap: 0;
	}
	100% {
		gap: 100px;
	}
}

.benefits__block {
	background-color: #fff;
	padding: 35px 40px;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	position: relative;
}
/* .benefits__block:first-child {
	animation: benefits-block-first 1s 1 linear 1s normal forwards;
}
.benefits__block:last-child {
	animation: benefits-block-last 1s 1 linear 1s normal forwards;
} */
.benefits__block > * {
	max-width: 250px;
}
@keyframes benefits-block-first {
	0% {
		left: 0;
		transform: rotate(10deg);
	}
	50% {
		transform: translate3d(0px, 100%, 0px) rotate(0deg);
	}
	99% {
		transform: rotate(10deg);
	}
	100% {
		left: calc(100% - 340px);
	}
}
@keyframes benefits-block-last {
	0% {
		right: 0;
		transform: rotate(-10deg);
	}
	50% {
		transform: translate3d(0px, -100%, 0px) rotate(-10deg);
	}
	99% {
		transform: rotate(-10deg);
	}
	100% {
		right: calc(100% - 340px);
	}
}
.benefits__block > *:not(:last-child) {
	margin-bottom: 20px;
}
.benefits__image {
	display: inline-block;
	background: #b6d7ff;
	border-radius: 10px;
	padding: 22px 20px;
}
.benefits__image img {
	max-width: 100%;
}
.benefits__title {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.1px;
	color: #252b42;
	text-transform: capitalize;
}
.benefits__title::after {
	content: "";
	display: block;
	width: 0%;
	height: 2px;
	background: #e74040;
	margin: 20px 0px 0px 0px;
	animation: benefits-title-line 1s 1 cubic-bezier(0.075, 0.82, 0.165, 1) normal
		forwards;
}
@keyframes benefits-title-line {
	0% {
		width: 0;
	}
	50% {
		width: 70%;
	}
	100% {
		width: 50%;
	}
}
.benefits__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #737373;
}
.benefits__block_color_main {
	background: #ff6551;
}
.benefits__block_color_main * {
	color: #fff;
}
.benefits__block_color_main .benefits__title::after {
	background-color: #fff;
}

/* ---------------------------------- */

.readytolearn {
	padding: 100px 0px;

	background: url("../img/dots.png") 0 60px no-repeat;
}

.readytolearn .section-header {
	margin: 0px 0px 60px 0px;
}

.card__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	background: #ffffff;
	border: 1px solid #e5e8ed;
	border-radius: 6px;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
		0px 30px 24px -10px rgba(154, 156, 165, 0.05),
		0px 12px 10px -6px rgba(154, 156, 165, 0.04),
		0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	max-width: 390px;
	margin: 0px 30px 30px 0px;
	overflow: hidden;
}
.card.card_size_n:nth-of-type(3n) {
	margin: 0px 0px 30px 0px;
}
.card.card_size_l {
	display: flex;
	max-width: 600px;
}
.card.card_size_l:nth-of-type(2n) {
	margin: 0px 0px 30px 0px;
}
.card.card_size_l .card__image {
	max-width: 214px;
}
.card.card_size_l .card__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card.card_size_n .card__image img {
	width: 100%;
	/* max-height: 240px; */
	object-fit: contain;
}
.card .card__content {
	padding: 24px;
	max-width: 342px;
}
.card__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1e212c;
	margin: 0px 0px 20px 0px;
}
.card__price {
	color: #ff4242;
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	animation: card-price 0.5s 1 ease 9s normal backwards;
}
@keyframes card-price {
	50% {
		font-size: 28px;
	}
	70% {
		font-size: 13px;
	}
}
.card__author {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #787a80;
}
.card__mark {
	background-color: #fff;
	border-radius: 4px;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	display: inline-block;
	padding: 1px 8px;
	margin: 0px 0px 20px 0px;
}
.card__mark_color_info {
	background-color: #5a87fc;
}
.card__mark_color_success {
	background-color: #03cea4;
}
.card__mark_color_warning {
	background-color: #f89828;
}
.card__mark_color_purple {
	background-color: #f52f6e;
}
